* {
  font-family: 'Roboto', sans-serif;
}
.button {
  display: inline-block;
  padding: 0.9em 2.5em;
  background: #111;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border: none;
}

.top-content {
  padding: 1em;
  text-align: center;
  background: #f6f6f6;
}
.top-content-title {
  color: #612674;
  font-size: 1.375em; /* 22/16 */
  margin: 1.375em;
}
.top-content-subtitle {
  color: #a87bb7;
  font-size: 1em;
  line-height: 1.5;
}
.middle-content {
  background: #f6f6f6;
  padding: 2em;
  text-align: center;
}
.middle-content-title {
  font-size: 1.25em;
  color: #652e79;
  text-transform: uppercase;
}
.middle-content p {
  line-height: 1.5;
  color: #222;
}
.main-content {
  padding: 2em;
}
.main-content p {
  line-height: 1.2;
}
.main-content-article {
  margin-bottom: 3.5em;
}
.main-content-title {
  font-size: 1.2em;
  color: #652e78;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: normal;
}
